<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2020 - Black Bear - Idle 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2021 - Black Bear - Idle 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,21},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2022 - Black Bear - Idle 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,41},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2023 - Black Bear - Idle 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,21},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy9.png</string>
            <key>size</key>
            <string>{30,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7c0829249de560a2f99c8b2de9c1dcc:f0be413e5fbaf062aa4ac9c7f0f21e3c:1747c876994af33006ecfba47f2e0a3a$</string>
            <key>textureFileName</key>
            <string>enemy9.png</string>
        </dict>
    </dict>
</plist>
