<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{82,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{82,50}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{82,50}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{252,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c0aec37eaca6ef46e826e154476c708:f5bb175f1a2a36431672eea654fa0e11:6a742f82625aa3c6c9ec5692622f5fbd$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
