<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TakeHit1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{165,1},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{246,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878bf45f8f0fa26135728cb07f14ee46:0ef70e5e899213eb6650cedc7571f10e:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
