<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{85,48}</string>
                <key>textureRect</key>
                <string>{{55,163},{83,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>build10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{49,38}</string>
                <key>textureRect</key>
                <string>{{1,410},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{83,75}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{1,86},{83,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{84,83}</string>
                <key>spriteSourceSize</key>
                <string>{108,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{52,352},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{65,52}</string>
                <key>textureRect</key>
                <string>{{52,300},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{1,246},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{82,57}</string>
                <key>textureRect</key>
                <string>{{1,356},{52,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>build6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{52,81}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{1,163},{52,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{61,49}</string>
                <key>textureRect</key>
                <string>{{50,399},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{55,248},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>build9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{1,300},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>builds.png</string>
            <key>size</key>
            <string>{104,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7d0ba01a16c7e6505953496655cd675:a60cbf33cb9d648718de3e4483e0eb8e:4262c1b4375adeaa51577ff619e8f4d1$</string>
            <key>textureFileName</key>
            <string>builds.png</string>
        </dict>
    </dict>
</plist>
